*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}
body{
    color:white;
    background: rgb(1, 0, 20);
    }
p{
    text-align: left;
    margin-left: 20%;
    margin-right: 20% ;
    padding-left: 1rem;
    padding-right: 1rem;
}

.todo {
    text-align: center;
    width: 100%;
}
::placeholder{
color: white ;
}
.container1{
    text-align: center;
    display: flex;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-left:8px;
    margin-right: 8px;
}
.colum1{
    width: 100%;
    margin-left: 2px;
    margin-right: 2px;
}
.colum2{
    width: 150%;
    margin-left: 5px;
    margin-right: 5px;
}

.portada{
    text-align: right;
    margin-right: 150px;
}

.Logoo_img{
    align-content: right;
    border-radius: 0.2rem;
    width: 150px;
    height: 150px;
}
.img {
border-radius: 1rem;
width: 500px;
height: 330px;

}
.lis{
    text-align: left;
    margin-left: 20%;
    margin-right: 20% ;
    padding-left: 1rem;
    padding-right: 1rem;    
}

.video{
    border-radius: 1rem;
    margin-left: 10px;
    margin-right: 10px;
 
}
.map{
    border-radius: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}
.inicio{
    background:linear-gradient(131deg,#007cf8c5,#589df7c7,#2b00ffb2); 
   
width: 25%;
padding-left:30px ;
padding-right: 30px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 10px;
border: 0;

}
input{
    color:white ;
}
.btn{
    background: linear-gradient(131deg,#00c8f8,#4f5dff,#7000fa);
    padding-left:30px ;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color:white ;
    border: 0;

}
/*Calculadora*/
.container2{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculadora{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 153, 255, 0.801);
}
.alternador-tema{
    position: absolute;
    top:30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.alternador-tema.activo{
    color: #333;

}

.alternador-tema.activo::before{
    background-color: #fff;
}

.alternador-tema::before{
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display{
    margin: 0 10px;
    height: 180px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x:scroll ;
}

#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}

button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button::hover{
    transform: scale(1.1);
}

button#igual{
    height: 130px;
}


/*Tema Claro*/
.calculadora{
    background-color: #fff ;
}

.calculadora #display{
    color: #0a1e23;
}

.calculadora button#claro{
    background-color: #fff;
    color: #fc4552;
}

.calculadora button.btn-numero{
    background-color: #c3eaff;
    color:black;
}

.calculadora button.btn-operador{
    background-color: white;
    color: #f967f3;
}

.calculadora button.btn-igual{
    background-color: #adf9e7;
    color:black;
}
/*Tema Oscuro*/

.calculadora.dark{
    background-color: #071115;
}

.calculadora.dark #display{
    color: white;
}

.calculadora.dark button#claro{
    background-color: #2d191e;
    color: #bd3740;
}

.calculadora.dark button.btn-numero{
    background-color: #1b2f38;
    color:white;
}

.calculadora.dark button.btn-operador{
    background-color: #2e1f39;
    color: #aa00a4;
}

.calculadora.dark button.btn-igual{
    background-color: #223323;
    color: white;
}





/*footer*/
.footer-wrapper {
    background-color:  black;
}

.footer {
    display: flex;
    justify-content: space-between;
}
.footer_widget {
    font-size: 20px;
    margin-bottom: 1.5rem;
    margin-top:1.5rem;
}

.footer_widget_titulo {
    color: rgb(16, 141, 214);
    margin: 0rem 1rem 1rem 2rem;

}

.footer_widget_texto {
    margin: 0rem 1rem 1rem 2rem;
    color: white;
}
